.main-user-signup {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* width: 100%; */
  height: auto;
  min-width: 344px;
  min-height: 101px;
  min-height: 506px;
  padding: 0px 25px 20px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* overflow-y: auto; */
}

.input-div {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
}

input,
label {
  display: block;
}

input {
  margin: 12px;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 5px;
  width: 200px;
  height: 20px;
}

.signup-button {
  text-align: center;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 5px;
  margin-top: 10px;
  padding: 7px;
  width: 100px;
}

.signup-button:hover,
#signup:hover {
  background: rgb(151, 147, 161);
  transition: all;
  color: white;
}

input:focus {
  outline: 1px solid rgb(151, 147, 161);
  border: 1px solid rgb(151, 147, 161);
}

.errors-list-signup {
  color: red;
}

/* .email-label,
.username-label,
.password-label,
.confirm-password-label{

} */

.signup-inputs {
  width: 100%;
  padding: 10px;
  margin: 12px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
