button {
  background-color: white;
  cursor: pointer;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button:hover {
  background: rgb(151, 147, 161);
  transition: all;
  color: white;
}

.new-image-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* width: 100%; */
  height: auto;
  min-width: 308px;
  min-height: 101px;
  min-height: 430px;
  padding: 0px 25px 20px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* overflow-y: auto; */
}

.image-div {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 4%;
}

.image-title {
  padding-bottom: 20px;
  font-size: 30px;
}

.single-image {
  max-width: 50%;
  height: auto;
}

.single-image-detail {
  max-width: 50vw;
  max-height: 60vh;
}

/* .single-image-info-detail {
} */

/* .single-image-title-detail{
} */

.edit-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5px solid black;
  padding: 7.5px 13.5px 10.5px 20.5px;
  margin: 7px 100px;
  border-radius: 10px;
}

.edit-button {
  justify-content: center;
  width: 86px;
}

.read-only-button {
  text-align: center;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 6px;
  margin-top: 6px;
  padding: 5px;
  width: 40px;
  font-size: 12px;
}

.delete-cmt-button {
  text-align: center;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 6px;
  margin-top: 6px;
  padding: 5px;
  width: 50px;
  margin-left: 5px;
  font-size: 12px;
}

.read-only-button:hover {
  background: rgb(151, 147, 161);
  transition: all;
  color: white;
}

.delete-cmt-button:hover {
  background: rgb(151, 147, 161);
  transition: all;
  color: white;
}

.span-comment {
  font-family: Arial, Helvetica, sans-serif;
}

#new-image-form {
  text-align: center;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 2px;
  margin-top: 6px;
  padding: 5px;
  width: 100px;
  margin-left: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

#new-image-form:hover {
  background: rgb(151, 147, 161);
  transition: all;
  color: white;
}

.profile-icon-button {
  text-align: center;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 2px;
  margin-top: 6px;
  padding: 5px;
  width: 30px;
  margin-left: 5px;
}

.profile-icon-button:hover {
  background: rgb(151, 147, 161);
  transition: all;
  color: white;
}

/* .main-navbar {
  background-color: rgb(164, 164, 168);
  box-shadow: 0px 10px 15px -8px rgb(196, 185, 185);
  height: 85px;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 1;
}
.left-navbar {
  width: 500px;
  float: left;
  margin-left: 30px;
}
.right-navbar {
  width: 300px;
  float: right;
  margin: 10px;
} */

.home-button {
  text-align: center;
  background-color: white;
  border-radius: 2px;
  margin-top: 6px;
  padding: 6px;
  width: 70px;
  margin-left: 5px;
  font-weight: bold;
}

.active {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.home-button:hover {
  background: rgb(134, 130, 146);
  transition: all;
  color: white;
}

.landing-page-div {
  display: grid;
  flex-direction: column;
}

.new-image-form {
  position: relative;
}

.errors-list {
  color: red;
  font-weight: bold;
  margin: -22px;
  /* padding-top: 40px; */
}

.comment-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 10vh;
  max-width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.delete-button-image {
  text-align: center;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 2px;
  margin-top: 6px;
  padding: 5px;
  width: 30px;
  margin-left: 5px;
}

.edit-button-image {
  text-align: center;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 2px;
  margin-top: 6px;
  padding: 5px;
  width: 30px;
  margin-left: 5px;
}

.delete-button-image:hover {
  background: rgb(151, 147, 161);
  transition: all;
  color: white;
}

.edit-button-image:hover {
  background: rgb(151, 147, 161);
  transition: all;
  color: white;
}

.form-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.home-link {
  text-decoration: none;
  color: black;
}

/*  MY FAVORITES */
.favorite-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 4%;
}

.single-image-favorite {
  max-width: 40%;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgb(141, 132, 132);
  cursor: zoom-in;
}

.favorites-title,
.search-title {
  margin-top: 90px;
  margin-left: 130px;
  text-decoration: underline;
}

.favorites-sub-title {
  margin-top: 90px;
  margin-left: 130px;
}
