.main-image {
  /* box-sizing: content-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 340px;
  height: auto;
  max-height: 100vh;
  max-width: 700px;
  padding: 10px 30px 10px 30px;
  justify-content: center;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden; */

  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* width: 340px; */
  max-height: 844px;
  /* max-height: 94vh; */
  /* max-width: 700px; */
  padding: 21px 30px 10px 30px;
  justify-content: center;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.single-image-detail {
  max-width: 47vw;
  max-height: 50vh;
}

/* .single-image-info-detail {
} */

.single-image-title-detail {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid black;
  padding: 1.5px 3.5px 12.5px 3.5px;
  margin: 15px 40px;
  border-radius: 4px;
} */

.edit-button {
  justify-content: center;
  width: 86px;
  border-radius: 7px;
  padding: 3px;
  border-color: gray;
}

.image-title-div {
  object-fit: scale-down;
  max-height: 550px;
}

.image-title-favorite-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.favorite-button {
  font-size: 26px;
  padding-right: 25px;
  color: red;
}
