/* .image-detail-div {
  overflow-y: scroll;
  position: relative;
  width: fit-content;
} */

.single-image-detail {
  max-width: 50vw;
  max-height: 60vh;
}

/* .single-image-info-detail {
} */

.single-image-title-detail {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* 
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid black;
  padding: 1.5px 3.5px 12.5px 3.5px;
  margin: 15px 40px;
  border-radius: 4px;
} */

.edit-button {
  justify-content: center;
  width: 86px;
}
