.input-div {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
}

input,
label {
  display: block;
}

input {
  margin: 12px;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 5px;
  width: 200px;
  height: 24px;
}

.login-button,
.demo-button {
  display: block;
  text-align: center;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 5px;
  margin-top: 10px;
  padding: 7px;
  width: 100px;
}

.login-button:hover,
.demo-button:hover,
#login:hover {
  background: rgb(151, 147, 161);
  transition: all;
  color: white;
}

input:focus {
  outline: 1px solid rgb(151, 147, 161);
  border: 1px solid rgb(151, 147, 161);
}

.errors-list {
  margin-bottom: 10px;
}
