.main-user-login {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* width: 100%; */
  height: auto;
  min-width: 339px;
  min-height: 114px;
  min-height: 430px;
  padding: 0px 21px 1px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* overflow-y: auto; */
}

input,
label {
  display: block;
}

input {
  margin: 12px;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 5px;
  width: 200px;
  height: 24px;
}

.login-button,
.demo-button {
  display: block;
  text-align: center;
  border: 1px solid rgb(151, 147, 161);
  border-radius: 5px;
  margin-top: 30px;
  padding: 7px;
  width: 100px;
}

.login-button {
  margin-right: 15px;
  margin-left: 20px;
}

.login-button:hover,
.demo-button:hover,
#login:hover {
  background: rgb(151, 147, 161);
  transition: all;
  color: white;
}

input:focus {
  outline: 1px solid rgb(151, 147, 161);
  border: 1px solid rgb(151, 147, 161);
}

.errors-list {
  margin-bottom: 10px;
}

.login-inputs {
  width: 100%;
  padding: 12px;
  margin: 8px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons-login-div {
  display: flex;
  flex-direction: row;
}
